<div class="container relative">

    <div class="item">
        <div class="formItem">
            <div class="formTitle">Nome:</div>
            <div >
                <input type="text" name="name" value="{{chef.name}}" placeholder="Coloque seu nome:"/>
            </div>
        </div>

    </div>

    <div class="formItem">
        <div class="formTitle">Avatar</div>
        <div>
            <input class="input-new" type="url" name="avatar_url" placeholder="http://" value="{{chef.avatar_url}}">
        </div>
    </div>

</div>