<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block head %}
            <title>Admin - FoodFy</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>

        <div class="admin">
            <div class="container divGrid">
                <div class="container logoadmin">
                    <a href="/admin/recipes"><img src="/assets/logo2.png" alt="chef"></a>
                </div>
                <div class="linksadm">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </div>
    </div>

    {%block content%}

        {%endblock%}

    </div>

    <footer id="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>
    <script src="/scriptsAdmin.js"></script>
</body>
</html>