{% extends "../layout.njk" %}

{%block head%}
    <title>{{recipes.title}}</title>
{% endblock %}

{% block content %}
       <section class="container" id="recipes">
    <div id="card">
      <div class="cards-image">
        <img src="{{recipes.image}}" alt="Imagem de {{recipes.image}}">
      </div>
      <div class="cards-title">
        <p>{{recipes.title}}</p>
      </div>
      <div class="cards-author">
        <p>{{recipes.author}}</p>
      </div>
    </div>

    <div id="ingredients" class="topic">
      <div>
        <h2>Ingredientes</h2>
        <span>ESCONDER</span>
      </div>
      <div class="topic-content">
        <ul>
          {% for ingredient in recipes.ingredients %}
          <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="preparation" class="topic">
      <div>
        <h2>Modo de Preparo</h2>
        <span>MOSTRAR</span>
      </div>
      
      <div class="topic-content hidden">
        <ul>
          {% for preparation in recipes.preparation %}
          <li>{{preparation}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="information" class="topic">
      <div>
        <h2>Informações adicionais</h2>
        <span>ESCONDER</span>
      </div>
      
      <div class="topic-content">
        <p>{{recipes.information}}</p>
      </div>
    </div>
  </section>
    
    <script src="/scripts.js"></script>
 {% endblock %}