{% extends "layout.njk" %}

{% block head %}
  <title>Page Not Found | FoodFy </title>
{% endblock %}


{% block content %}

<div class="container" id=" not-found">
  <div id="not-found_text">
    <h1>Sorry!!!</h1>
    <p>The content you are looking for does not exist or cannot be displayed...</p>
  </div>

  <img src="/assets/error.png" alt="warning">

</div>

{% endblock %}